{% extends 'base.html.twig' %}

{% block body %}
    {% include 'nav.html.twig' %}
    <div class="container-fluid text-center">
        <div class="row content">

            <div class="col-sm-4 text-left">
                <div class="modal-message" id="modal-message"></div>
                <div class="single">
                    <h2>Subscribe to our Newsletter</h2>
                    <form action="" id="form_subscribe" method="POST">
                        <div class="input-group">
                            <input type="email" id="email" name="email" class="form-control" placeholder="Enter your email">
                            <span class="input-group-btn">
                                <button class="btn btn-default submit" type="submit">Subscribe</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        $(document).on('click', 'button.submit', function(){
            var actionUrl = "{{ pageVars.save_subscription_url }}";

            //Set the form data
            var formData = new FormData($("#form_subscribe")[0]);
            var modalMessage = '';

            $.ajax({
                url: actionUrl,
                type: "POST",
                data: formData,
                async: true,
                cache: false,
                contentType: false,
                processData: false,
                success: function (response) {
                    if (response["status"] === "success") {
                        //Reset form fields
                        resetForm("form_subscribe");
                        modalMessage = 'You have successfully subscribed to the newsletter.';
                    }
                    else {
                        if (response["error"]) {
                            modalMessage = response["error"];
                        }
                    }
                    displayModal(response["status"], modalMessage);
                },
                error: function () {
                    displayModal('fail');
                },
            });
            return false;
        });

        $(document).ready(function() {
            $(".modal-message").hide();
        });

        function resetForm(formId) {
            $('#' + formId)[0].reset();
        }

        function displayModal(status, message) {
            var alertClass = 'alert-notice';
            if(status == 'success') {
                alertClass = 'alert-success';
            } else if(status == 'fail') {
                alertClass = 'alert-danger';
            }

            if(message == '') { message = 'There was an error when trying to submit your request. Please try again later!'; }

            var modalError = "<div id=\"alert-modal\" class=\"alert " + alertClass + " alert-light alert-dismissible\" role=\"alert\"><strong><i class=\"zmdi zmdi-close-circle\"></i>Error!</strong><p>" + message + "</p></div>";
            $(".modal-message").show();
            $(".modal-message").html(modalError);
        }
    </script>

{% endblock %}

