<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/subscribe"><span class="glyphicon glyphicon-envelope"></span> Subscribe</a></li>
            </ul>
        </div>
    </div>
</nav>