{% extends 'base.html.twig' %}

{% block body %}
    {% include 'nav.html.twig' %}
    <div class="container-fluid text-center">
        <div class="row content">
            <div class="col-sm-12 text-left">
                <h1>Welcome!</h1>
                <p></p>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}{% endblock %}
